{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "all",
        "printWidth": 120,
        "endOfLine": "auto"
      }
    ],
    "react/prop-types": 0,
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      { "accessibility": "no-public" }
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "react/jsx-first-prop-new-line": [1, "multiline"],
    "react/jsx-indent": [1, 4],
    "react/jsx-indent-props": [1, 4],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "max-len": ["error", { "code": 120 }],
    "react/destructuring-assignment": ["warn"],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parser": "@typescript-eslint/parser"
}
