@import '../../constants.scss';

.CardHeader {
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    padding: $smallPadding;
    background: $headerBg;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
}