@import '../../constants.scss';

.CardHeader {
    height: 20%;
    padding: $smallPadding;
    background: $headerBg;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
}