@import '../../constants.scss';

.CardBody {
    height: 80%;
    padding: $smallPadding;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    overflow: hidden;
    overflow-y: auto;
}